@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display:ital@1&display=swap');

.title {
    font-family: 'Playfair Display', serif;
}

.links li a {
    border-left: 1px solid black;
    padding: 15px;
}

.links li a:hover {
    background-color: white;
}

.menuicon {
	position: relative;
	width: 50px;
	height: 50px;
	cursor: pointer;
    background-color: green;
}

.menuicon.active span:first-of-type, .menuicon__cheeckbox:checked + div span:first-of-type {
    transform: rotate(45deg);
    top: 5px;
}


.menuicon.active span:last-of-type, .menuicon__cheeckbox:checked + div span:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
}

.menuicon__cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
}

.menuicon div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
}

.menuicon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.menuicon span:first-of-type {
    top: 0;
}

.menuicon span:last-of-type {
    bottom: 0;
}